.reset {
	position: relative;
}

.eqList {
	margin-bottom: -0.5rem;
}

.eqReset {
	border: 1px solid transparent;
	margin: 0 -0.5rem;
	padding: 0.5rem;
	position: relative;
}

.separator {
	border: none;
	border-bottom: 1px solid var(--neutral-faint);
}
.separator:last-child {
	display: none;
}
