.door {
	position: relative;
}

.separator {
	border: none;
	border-bottom: 1px solid var(--neutral-faint);
	margin: 0.25rem 0;
}
.separator:last-child {
	display: none;
}

.disabled {
	color: var(--neutral-dim);
}
