.list {
	list-style: none;
	padding: 0;
}

.reset {
	border: 1px solid transparent;
	margin: 0.5rem -0.5rem;
	padding: 0.5rem;
	position: relative;
}

.separator {
	border: none;
	border-bottom: 1px solid var(--neutral-faint);
	margin-left: 0;
	max-width: 40rem;
}
.separator:last-child {
	display: none;
}
