.tabs {
	height: 100%;
	display: flex;
}

.tabsContentsContainer {
	padding-top: 2rem;
	height: 100%;
	display: flex;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

.tabsNav {
	height: 2rem;
	display: flex;
	column-gap: 0.5rem;
	align-items: center;
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1;
	background-color: var(--background);
	padding-left: 0.75rem;
	box-shadow: 0px 2px 5px var(--neutral);
}

.tabsNavItem {
	cursor: pointer;
	border: unset;
	font-family: ZillaSlab;
	font-weight: 700;
	font-size: 1.25rem;
	margin: 0;
	border-radius: 4px;
	background-color: unset;
}
.tabsNavText {
	padding: 0 0.25rem;
	border-bottom: 2px solid transparent;
}
.tabsNavItem:hover .tabsNavText {
	border-color: var(--selection-dim);
}
.tabsNavItem[data-selected="true"] .tabsNavText {
	border-color: var(--selection);
}
.tabsNavItem[disabled] {
	cursor: initial;
}
.tabsNavItem[disabled]:not([data-selected="true"]) .tabsNavText {
	border-color: transparent;
}

.tabsContents {
	height: 100%;
	overflow-y: auto;
	padding: 1rem 1rem 5rem 1rem;
	flex-grow: 1;
	order: -1;
}

.tabDangerTarget {
	padding: 0.5rem;
	margin: -0.5rem;
	border: 1px solid transparent;
}

.blankWorkspace {
	font-family: ZillaSlab;
	font-weight: bold;
	font-size: 1.5rem;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	text-align: center;
}

.blankWorkspace p {
	margin: 0 0 1rem 0;
}
