.Tabs {
	height: 100%;
	display: flex;
}

.TabsNav {
	display: flex;
	height: 2rem;
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1;
	background-color: cornflowerblue;
}

.TabsNavItem {
	cursor: pointer;
	margin-right: 1rem;
}
.TabsNavItem:last-child {
	margin-right: 0;
}
.TabsNavItem:hover {
	background-color: pink;
}

.TabsContentsContainer {
	height: 100%;
	display: flex;
	padding-top: 2rem;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

.TabsContents {
	height: 100%;
	overflow-y: auto;
	padding: 1rem;
	flex-grow: 1;
}
