.Tabs {
	height: 100%;
	display: flex;
}

.TabsNav {
	display: flex;
}

.TabsNavItem {
	cursor: pointer;
	margin-right: 1rem;
}
.TabsNavItem:last-child {
	margin-right: 0;
}
.TabsNavItem:hover {
	background-color: pink;
}
