.TextField {
}
.TextField label {
	display: flex;
	min-width: 20rem;
}
.TextField input {
	flex-grow: 1;
}

.NumberField {
}
.NumberField label {
	display: block;
}
.NumberField input {
	width: 100%;
}

.TextArea {
	display: block;
}
.TextArea textarea {
	display:  block;
	width: 100%;
	resize: vertical;
	background-image: linear-gradient(
		to right,
		white,
		white 36rem,
		#ffeeee 36rem,
		#ffeeee 40rem,
		#ffdddd 40rem,
		#ffdddd
	);
	position: relative;
}

.BitsField {
	display: flex;
	flex-wrap: wrap;
}
.BitsField label {
}

.SelectField {

}
