.vnumItemList {
	flex: 0 0 auto;
	max-width: 20rem;
	overflow-y: scroll;
	overflow-x: hidden;
}

.list {
	list-style: none;
	padding: 0;
	margin: 0;
}

.vnumItemList .link {
	display: block;
	padding: 0.25rem;
	margin: -0.15rem 0;
	cursor: pointer;
	white-space: nowrap;
	color: var(--foreground);
	text-decoration: none;
}
.vnumItemList .link:hover, .vnumItemList .link:focus {
	background: var(--selection-dim);
}
.vnumItemList .link.selected {
	background: var(--selection);
	color: white;
}
.vnumItemList .vnum {
	font-style: italic;
	min-width: 3rem;
	display: inline-block;
	font-family: monospace;
}

.buttons {
	position: relative;
}

.enableKbNav {
	opacity: 0;
	pointer-events: none;
	position: absolute;
	padding: 0.5rem;
	margin-left: 2rem;
	background-color: var(--background);
	border: 2px solid var(--neutral);
	border-radius: 8px;
}
.enableKbNav:focus-within {
	opacity: 1;
	pointer-events: all;
}
