.VnumItemEditor {
	display: flex;
	height: calc(100%);
}

.vnumItemList {
	list-style: none;
	padding: 0;
	margin: 0;
	flex: 0 0 auto;
	max-width: 20rem;
	overflow-y: scroll;
	overflow-x: hidden;
}

.vnumItemList li {
	padding: 0.25rem;
	margin: -0.15rem 0;
	cursor: pointer;
	white-space: nowrap;
}
.vnumItemList li:hover {
	background: var(--selection-dim);
}
.vnumItemList li.selected {
	background: var(--selection);
	color: white;
}
.vnumItemList .vnum {
	font-style: italic;
	min-width: 3rem;
	display: inline-block;
	font-family: monospace;
}

.VnumItemEditorPlaceholder {
	flex: 1 0 auto;
}
