.bitsField {
	display: flex;
	flex-wrap: wrap;
	margin: 0.5rem 0;
	gap: 0.25rem;
}
.bitsField label {
	width: 8rem;
}

.summary {
	display: flex;
	height: 38px;
	align-items: center;
}

.clickable {
	display: flex;
	align-items: baseline;
	cursor: pointer;

	appearance: none;
	border: 0;
	padding: 0;
	background-color: unset;
	font-size: 1rem;
	font-family: unset;
}

.marker {
	display: list-item;
	list-style-position: inside;
	list-style-type: disclosure-closed;
	margin: 0 0.5rem;
}
.open .marker {
	list-style-type: disclosure-open;
}

.body {
	display: none;
	margin-bottom: 0.5rem;
}
.open .body {
	display: block;
}

.label {
	composes: label from "./inputs.module.css";
}
