.button-text {
	font-size: 0.83rem;
	font-family: system-ui;
	line-height: 1rem;
}

.button {
	composes: button-text;
	appearance: button;
	padding: 2px 8px;
	background-color: white;
	border: 1px solid hsl(0, 0%, 80%);
	border-radius: 4px;
	margin: 0 0.25rem;
}
.button:hover {
	border-color: hsl(0, 0%, 70%);
}

.link {
	height: unset;
	border: 0;
	padding: 0;
	background-color: transparent;
	text-decoration: underline;
	cursor: pointer;
	color: var(--selection);
}

.delete {
	white-space: nowrap;
	color: var(--danger);
}
.deleteWrapper {
	position: relative;
}
.prompting .confirmation {
	visibility: visible;
	pointer-events: initial;
}
.confirmation {
	composes: button-text;
	position: absolute;
	display: block;
	visibility: hidden;
	pointer-events: none;
	top: 0;
	right: 0;
	background-color: var(--background);
	color: var(--danger);
	text-align: right;
}
.confirmation .buttons {
	margin-top: 0.25rem;
	padding: 0.25rem;
	display: flex;
	column-gap: 0.5rem;
}
.confirmation .button {
	white-space: nowrap;
	cursor: pointer;
	margin: 0;
}
.confirmation .button.danger {
	color: var(--danger);
}


.add {
	white-space: nowrap;
	color: var(--good);
}
