.container legend {
	display: flex;
}

.container .summary {
	margin-left: 0.5rem;
	display: inline-block;
	overflow: hidden;
	white-space: nowrap;
}

.container .children {
	height: 0px;
	overflow: hidden;
}

.container.open .summary {
	width: 0px;
	overflow: hidden;
}

.container.open .children {
	height: unset;
	overflow: unset;
}
