.edescFields {
	padding: 0;
	list-style: none;
}

.edesc {
	border: 1px solid transparent;
	margin: 0 -0.5rem;
	padding: 0.5rem;
	position: relative;
}

.edesc textarea {
	margin-bottom: 0 !important;
}

.separator {
	border: none;
	border-bottom: 1px solid var(--neutral-faint);
	margin: 0;
}
.separator:last-child {
	display: none;
}
