.wrapper {
	display: flex;
	align-items: baseline;
}

.inline {
	display: inline-flex;
}

.label {
	white-space: nowrap;
	flex-shrink: 1;
	margin-right: 0.25rem;
	font-family: ZillaSlab, emoji;
	font-weight: 500;
}

.input {
	line-height: 1.15;
	border: 1px solid hsl(0, 0%, 80%);
	border-radius: 4px;
	height: 38px;

	font-size: 16px;
	font-family: monospace;

	padding: 4px 8px 2px 8px;
	color: var(--foreground);

	flex-grow: 1;
}
.input:hover {
	border-color: hsl(0, 0%, 70%);
}
.input:focus {
	outline: 2px solid var(--selection);
}
.input[disabled] {
	color: var(--neutral);
	border-color: var(--neutral-faint);
}

.number {
	text-align: right;
}

.input.warning:focus {
	outline: 2px solid var(--danger);
}
.input.warning {
	background-color: var(--danger-faint);
}

.disabled {
	color: var(--neutral);
}
