.keywordField {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	gap: 0.5rem;
}

.label {
	composes: label from "./inputs.module.css";
}

.keyword {
	font-weight: normal;
	font-family: monospace;
	background: var(--neutral-hint);
	padding: 2px 4px;
	border-radius: 2px;
	border: 1px dashed var(--neutral-dim);
}
