.keywordField {
	display: flex;
	align-items: baseline;
	gap: 0.5rem;
}

.label {
	composes: label from "./inputs.module.css";
}

.keyword {
	font-family: initial;
	font-weight: normal;
	font-size: 0.9rem;
	background: hsl(0, 0%, 97%);
	padding: 2px 4px;
	border-radius: 2px;
	border: 1px dashed hsl(0, 0%, 80%);
}
