.container {
	border: 1px solid transparent;
	border-radius: 4px;
	padding: 0.25rem;
}

.danger {

}

.dangerTarget {
	border-style: dashed !important;
	border-color: var(--danger) !important;
	border-radius: 4px;
	background-color: var(--danger-faint);
}

.row {
	margin: 0.5rem 0;
}

.toolRow {
	margin: 0.5rem 0;
	display: flex;
	align-items: baseline;
	gap: 1rem;
	flex-wrap: wrap;
}
.toolRow:first-child {
	margin-top: 0;
}
.toolRow:last-child {
	margin-bottom: 0;
}

.section {
	margin: 1rem 0;
}

.header {
	display: flex;
	align-items: baseline;
	gap: 0.5rem;
	margin: 0 0 1rem 0;
}
.header h1, .header h2, .header h3, .header h4, .header h5, .header h6 {
	margin: 0
}

.list {
	margin: 0;
	padding: 0;
	list-style: none;
}

.list > li {
	border: 1px solid transparent;
	margin: 0.5rem -0.5rem;
	padding: 0.5rem;
}

.list > li:first-child {
	margin-top: -0.5rem;
}

.section .list textarea, .section .list pre {
	margin-bottom: 0;
}

.list hr {
	border: none;
	border-bottom: 1px solid var(--neutral-faint);
}
.list hr:last-child {
	display: none;
}
