.textArea {
	display: block;
}
.textArea textarea {
	resize: vertical;
	max-width: 100%;
	background: white;
}
.textArea textarea:hover {
	border-color: var(--neutral);
}
.textArea textarea:focus {
	outline: 2px solid var(--selection);
}

.colorPreview, .textArea textarea {
	display:  block;
	white-space: pre;
	font-family: monospace;
	margin: 0.5rem 0;
	padding: 4px 8px;
	border: 1px solid var(--neutral-dim);
	border-radius: 4px;
	line-height: normal;
}

.colorPreview {
	color: var(--w);
	background-color: black;
	font-weight: bold;
}
.colorPreview.door {
	color: var(--r);
}
.colorPreview.help, .colorPreview.adesc {
	color: var(--g);
}
.colorPreview.mobile {
	color: var(--y);
}
.colorPreview.water {
	color:  var(--c);
}

.description {
	composes: label from "./inputs.module.css";
	display: flex;
	column-gap: 1rem;
}

.editor {
	position: relative;
	/*overflow-x: clip;*/
}
.guide {
	display: block;
	position: absolute;
	top: 5px;
	left: 9px; /* account for textarea's 8px padding, 1px border */
	bottom: 5px;
	font-family: monospace;
	color: transparent;
	border-right: 1px dashed red;
	pointer-events: none;
}
.guideLabel {
	position: absolute;
	top: -20px;
	color: var(--foreground);
	transform: translateX(-50%);
}
