.textArea {
	display: block;
}
.textArea textarea {
	resize: vertical;
	width: 100%;
}

.preview, .textArea textarea {
	display:  block;
	white-space: pre;
	font-family: monospace;
	padding: 2px;
	border: 2px inset;
	line-height: normal;
	background-image: linear-gradient(
		to right,
		transparent,
		transparent 36rem,
		rgba(255, 192, 192, 0.5) 36rem,
		rgba(255, 192, 192, 0.5) 40rem,
		rgba(255, 192, 192, 0.75) 40rem,
		rgba(255, 192, 192, 0.75)
	);
}

.preview {
	background-color: black;
	color: white;
}

.description {
	display: flex;
	justify-content: space-between;
}
