.app {
	height: 100vh;
}

.fileInput input {
	display: none;
}

.button {
	composes: button from "./ui/components/button.module.css";
	font-family: system-ui;
	display: inline-flex;
	align-items: center;
}

.setupWrapper {
	composes: app;
	display: flex;
	align-items: center;
	justify-content: center;
}

.setupControls {
	display: flex;
	align-items: baseline;
	column-gap: 0.5rem;
}
