.app {
	height: 100vh;
	background-color: var(--background);
}

.fileInput input {
	display: none;
}

.button {
	composes: button from "./ui/components/button.module.css";
	font-family: system-ui;
	display: inline-flex;
	align-items: center;
}

.setupWrapper {
	composes: app;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.setupWrapper h1 {
	margin-top: -2rem;
}

.setupControls {
	display: flex;
	align-items: baseline;
	column-gap: 0.5rem;
}

.disclaimer {
	width: 28rem;
	padding: 0;
	list-style: square;
	line-height: 1.25;
}

.credits {
	width: 28rem;
	color: var(--neutral);
}

.credits a {
	color: inherit;
}
