@import-normalize;

@font-face {
  font-family: Cambo;
  src: url("../fonts/Cambo-Regular.ttf");
}
@font-face {
  font-family: ZillaSlab;
  src: url("../fonts/ZillaSlab-Regular.ttf");
}
@font-face {
  font-family: ZillaSlab;
  src: url("../fonts/ZillaSlab-Medium.ttf");
  font-weight: 500;
}
@font-face {
  font-family: ZillaSlab;
  src: url("../fonts/ZillaSlab-SemiBold.ttf");
  font-weight: 600;
}
@font-face {
  font-family: ZillaSlab;
  src: url("../fonts/ZillaSlab-Bold.ttf");
  font-weight: 700;
}
@font-face {
  font-family: emoji;
  src: local("Segoe UI Emoji"),
       local("Apple Color Emoji"),
       local("Android Emoji"),
       local(EmojiSymbols),
       local(Symbola);
  unicode-range: U+1F300-1F5FF, U+1F600-1F64F, U+1F680-1F6FF, U+2600-26FF;
}

body {
  margin: 0;
  font-family: Cambo, emoji;
}

h1, h2, h3, h4, h5, h6, strong {
  font-family: ZillaSlab, emoji;
}

* {
  box-sizing: border-box;
}

input:focus, label[data-checkbox]:focus-within, button:focus, a:focus {
  outline: 2px solid var(--selection);
  border-radius: 2px;
}
label[data-checkbox] input[type="checkbox"] {
  outline: none;
}
label[data-checkbox] {
  padding-left: 2px;
  padding-right: 2px;
  margin-left: -2px;
}

html {
  --foreground: hsl(0, 0%, 20%);
  --background: white;
  --selection: #2684FF;
  --selection-dim: #DEEBFF;
  --neutral: hsl(0, 0%, 70%);
  --neutral-dim: hsl(0, 0%, 80%);
  --neutral-faint: hsl(0, 0%, 90%);
  --danger: rgb(222, 53, 11);
  --danger-dim: rgb(255, 189, 173);
  --danger-faint: rgba(255, 0, 0, 0.025);
  --warning: #f2d800;
  --warning-dim: #fbe84f;
  --warning-faint: #fffcdf;
  --good: green;

  --k:  #0c0c0c;
  --bk: #767676;
  --b:  #0c0cb9;
  --bb: #0000ff;
  --c:  #26b0b0;
  --bc: #00ffff;
  --g:  #109310;
  --bg: #00ff00;
  --r:  #a21010;
  --br: #ff0000;
  --y:  #9f9f16;
  --by: #ffff00;
  --w:  #c0c0c0;
  --bw: #ffffff;
  --p:  #8e098e;
  --bp: #ff00ff;
}
