@import-normalize;

@font-face {
  font-family: Cambo;
  src: url("../fonts/Cambo-Regular.ttf");
}
@font-face {
  font-family: ZillaSlab;
  src: url("../fonts/ZillaSlab-Regular.ttf");
}
@font-face {
  font-family: ZillaSlab;
  src: url("../fonts/ZillaSlab-Medium.ttf");
  font-weight: 500;
}
@font-face {
  font-family: ZillaSlab;
  src: url("../fonts/ZillaSlab-SemiBold.ttf");
  font-weight: 600;
}
@font-face {
  font-family: ZillaSlab;
  src: url("../fonts/ZillaSlab-Bold.ttf");
  font-weight: 700;
}

body {
  margin: 0;
  font-family: Cambo;
}

h1, h2, h3, h4, h5, h6 {
  font-family: ZillaSlab;
}

* {
  box-sizing: border-box;
}

input:focus, button:focus, a:focus {
  outline: 2px solid var(--selection);
}

html {
  --foreground: hsl(0, 0%, 20%);
  --background: white;
  --selection: #2684FF;
  --selection-dim: #DEEBFF;
  --neutral: hsl(0, 0%, 70%);
  --neutral-dim: hsl(0, 0%, 80%);
  --neutral-faint: hsl(0, 0%, 90%);
  --danger: rgb(222, 53, 11);
  --danger-dim: rgb(255, 189, 173);
  --danger-faint: rgba(255, 0, 0, 0.025);
  --warning: #f2d800;
  --warning-dim: #fbe84f;
  --warning-faint: #fffcdf;
  --good: green;
}
